<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RUC_ENTIDAD" value="20494443466"/>
    <!--<add key="RUC_ENTIDAD" value="20546798152"/>-->
    <!--CONSULTA RENIEC-->
    <add key="RENIEC_USUARIO" value="41727725"/>
    <add key="RENIEC_CLAVE" value="41727725"/>
    <!--<add key="RENIEC_USUARIO" value="43119529"/>
    <add key="RENIEC_CLAVE" value="43119529"/>-->
    <!--CONSULTA SUNEDU-->
    <add key="SUNEDU_USUARIO" value="ONGEI"/>
    <add key="SUNEDU_CLAVE" value="ONGEI"/>
    <add key="SUNEDU_MACSERVER" value="AC:16:2D:74:34:24"/>
    <!-- SE USA TAMBIÉN PARA MIGRACIONES-->
    <add key="SUNEDU_IPSERVER" value="190.102.155.230"/>
    <!-- SE USA TAMBIÉN PARA MIGRACIONES-->
    <add key="SUNEDU_IPUSUARIO" value="190.102.155.230"/>
    <!--CONSULTA MIGRACIONES-->
    <add key="MIGRACIONES_CODIGO" value="xxxxx"/>
    <!--CONSULTA A. PENAL-->
    <add key="AP_IPPUBLICA" value="190.116.103.38"/>
    <add key="AP_DNICONSULTANTE" value="45205364"/>
    <add key="AP_AUDNOMBREPC" value="APPS"/>
    <add key="AP_AUDIPPC" value="10.70.1.41"/>
    <add key="AP_AUDNOMUSUARIO" value="Administrador"/>
    <add key="AP_AUDMACPC" value="AC:16:2D:74:34:24"/>
    <!--CONSULTA A. POLICIAL-->
    <add key="APOL_CLIENTEUSUARIO" value="SAT_HUAMANGA"/>
    <add key="APOL_CLIENTECLAVE" value="S4THU4M4NG4"/>
    <add key="APOL_SERVICIOCODIGO" value="WS_PIDE_ANTECEDENTES_FLAG"/>
    <add key="APOL_CLIENTESISTEMA" value="SEDI"/>
    <add key="APOL_CLIENTEIP" value="190.116.103.38"/>
    <add key="APOL_CLIENTEMAC" value="AC:16:2D:74:34:24"/>
    <!--CONSULTA SUNARP-->
    <add key="SUNARP_USUARIO" value="20494443466-SAT-H"/>
    <add key="SUNARP_CLAVE" value="SunarpSegdi"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--<system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" executionTimeout="999999" maxRequestLength="2097151"/>
  </system.web>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8.1"/>
    <httpRuntime targetFramework="4.8.1" executionTimeout="999999" maxRequestLength="2097151"/>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca el valor siguiente en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de los errores de la excepción para la depuración, establezca el valor siguiente en true. Establézcalo en false antes de la implementación para evitar revelar información de la excepción -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>