
@{
    ViewBag.Title = "Lista de roles";
}
@section Style{
    <link href="~/Content/app/css/style-app.css" rel="stylesheet" />
    <link href="~/Content/css/paginacion.css" rel="stylesheet" />
}
<div class="row pb-5">
    <div class="col-md-12 col-lg-12 col-xl-12 div-reportes" style="margin-left: -5px;">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <h5 class="card-header rounded-0" id="headingTwo">@ViewBag.Title <small id="cod-expediente"></small></h5>
                <div id="collapse" class="collapse in show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body contenedor_collapse">

                        <div class="row">
                            <div class="row col-md-12">
                                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <div style="display:none">
                                        C
                                        <input type="text" id="CurrentPage" data-bind="value: Pager().CurrentPage">

                                        P
                                        <input type="text" id="PageSlide" data-bind="value: Pager().PageSlide">

                                        T
                                        <input type="text" id="TotalItemCount" data-bind="value: SetTotalResults">
                                    </div>
                                    <div class="datospag" data-bind="visible: flag_load">
                                        <div class="spinner-border text-info" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <button type="button" class="btn btn-xs btn-default" data-bind="click: search"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                                    </div>
                                    <div class="datospag">
                                        <select id="PageSize" style="padding: 3px;" data-bind="value: Pager().PageSize">
                                            <option value="20" selected>20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <div class="d-flex">
                                        <div class="ml-auto pagination" data-bind="template:{ name: 'tpl-pager', data: Pager }">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-12">
                                <table class="table table-sm table-responsive table-hover table-new" style="border-top: 1px solid #f59d24;">
                                    <thead class="">
                                        <tr class="rounded-top" style="height: 40px;">
                                            <th class="anchobusq-ruc">
                                                Id rol
                                            </th>
                                            <th class="anchobusq-dni">
                                                Rol
                                            </th>
                                            <th class="anchobusq-nombre">
                                                Descripción
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: lista_objetos">
                                        <tr>
                                            <td data-bind="text: n_id_rol"></td>
                                            <td data-bind="text: v_rol"></td>
                                            <td data-bind="text: v_descripcion"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="tpl-pager">
    <div class="datospag">
        <div class="pagexofx">
            <span data-bind="text: FirstItemIndex"></span>
            -
            <span data-bind="text: LastItemIndex"></span>
            de
            <strong>
                <span data-bind="text: TotalItemCount"></span>
            </strong>
        </div>
    </div>
    <div class="pag">
        <ul>
            <!-- ko if:CurrentPage() === 1 -->
            <li class="disabled">
                <a href="#" class="disabledPage"><i class="fas fa-angle-double-left"></i></a>
            </li>
            <!-- /ko -->
            <!-- ko ifnot:CurrentPage() === 1 -->
            <li>
                <a href="#" data-bind="click: function(){ selectPage(1); }"><i class="fas fa-angle-double-left"></i></a>
            </li>
            <!-- /ko -->
            <!-- ko if:HasPrevPage -->
            <li>
                <a href="#" data-bind="click: function(){ selectPage(CurrentPage() - 1); }"><i class="fas fa-angle-left"></i></a>
            </li>
            <!-- /ko -->
            <!-- ko ifnot:HasPrevPage -->
            <li class="disabled">
                <a href="#" class="disabledPage"><i class="fas fa-angle-left"></i></a>
            </li>
            <!-- /ko -->
            <!-- ko foreach:Pages -->
            <!-- ko if:$data === $parent.CurrentPage() -->
            <li class="active">
                <span class="currentPage" data-bind="text: $data"></span>
            </li>
            <!-- /ko -->
            <!-- ko if:$data !== $parent.CurrentPage() -->
            <li>
                <a href="#" data-bind="text: $data, click: function(){ $parent.selectPage($data); }"></a>
            </li>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if:HasNextPage -->
            <li>
                <a href="#" data-bind="click: function(){ selectPage(CurrentPage() + 1); }"><i class="fas fa-angle-right"></i></a>
            </li>
            <!-- /ko -->
            <!-- ko ifnot:HasNextPage -->
            <li class="disabled">
                <a href="#" class="disabledPage"><i class="fas fa-angle-right"></i></a>
            </li>
            <!-- /ko -->
            <!-- ko ifnot:CurrentPage() === LastPage() -->
            <li>
                <a href="#" data-bind="click: function(){ selectPage(LastPage()); }"><i class="fas fa-angle-double-right"></i></a>
            </li>
            <!-- /ko -->
            <!-- ko if:CurrentPage() === LastPage() -->
            <li class="disabled">
                <a href="#" class="disabledPage"><i class="fas fa-angle-double-right"></i></a>
            </li>
            <!-- /ko -->
        </ul>
    </div>
</script>
@section scripts {
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/ko.pager.js"></script>
    <script src="~/Scripts/App/Management/Roles.js"></script>
    <script>
        url_ = "@Request.Url.Scheme@System.Uri.SchemeDelimiter@Request.Url.Host@(Request.Url.IsDefaultPort ? "" : ":" + Request.Url.Port)";
        appOpenB.init();
    </script>
}