<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RUC_ENTIDAD" value="20494443466"/>
    <!--<add key="RUC_ENTIDAD" value="20546798152"/>-->
    <!--CONSULTA RENIEC-->
    <add key="RENIEC_URL" value="https://ws2.pide.gob.pe/Rest/RENIEC/Consultar?out=json"/>
    <add key="RENIEC_USUARIO" value="85452149"/>
    <add key="RENIEC_CLAVE" value="85452149"/>
    <!--<add key="RENIEC_USUARIO" value="43119529"/>
	<add key="RENIEC_CLAVE" value="43119529"/>-->
    <!--CONSULTA SUNEDU-->
    <add key="SUNEDU_USUARIO" value="85452149"/>
    <add key="SUNEDU_CLAVE" value="85452149"/>
    <add key="SUNEDU_MACSERVER" value="AC:16:2D:74:34:24"/>
    <!-- SE USA TAMBIÉN PARA MIGRACIONES-->
    <add key="SUNEDU_IPSERVER" value="190.102.841.230"/>
    <!-- SE USA TAMBIÉN PARA MIGRACIONES-->
    <add key="SUNEDU_IPUSUARIO" value="190.102.2.145"/>
    <!--CONSULTA MIGRACIONES-->
    <add key="MIGRACIONES_CODIGO" value="xxxxx"/>
    <!--CONSULTA A. PENAL-->
    <add key="AP_IPPUBLICA" value="190.116.103.38"/>
    <add key="AP_DNICONSULTANTE" value="45205364"/>
    <add key="AP_AUDNOMBREPC" value="APPS"/>
    <add key="AP_AUDIPPC" value="10.70.1.98"/>
    <add key="AP_AUDNOMUSUARIO" value="85452149"/>
    <add key="AP_AUDMACPC" value=""/>
    <!--CONSULTA A. POLICIAL-->
    <add key="APOL_CLIENTEUSUARIO" value="85452149"/>
    <add key="APOL_CLIENTECLAVE" value="85452149"/>
    <add key="APOL_SERVICIOCODIGO" value="WS_PIDE_ANTECEDENTES_FLAG"/>
    <add key="APOL_CLIENTESISTEMA" value="SEDI"/>
    <add key="APOL_CLIENTEIP" value=""/>
    <add key="APOL_CLIENTEMAC" value="AC:16:2D:25:34:24"/>
    <!--CONSULTA SUNARP-->
    <add key="SUNARP_USUARIO" value="85452149-H"/>
    <add key="SUNARP_CLAVE" value="Sunarp"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup></configuration>
